{% extends "base.html" %}


{% block content %}

<div class="container py-5" >
	<h1 style="padding-top: 300px">Register</h1>
  {% csrf_token %}
	<form method="POST" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Sign Up</h2>

    {% for field in form %}
    <p>
      {% if field.errors %}
      <ul class="error">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {{ field.label_tag }} {{ field }}
    {% endfor %}
    <input type="submit" value="Register" />
  </form>
	<p class="text-center">If you already have an account, <a href={% url "login" %}>login</a> instead.</p>
</div>

{% endblock %}