{% extends "base.html" %}


{% block content %}

<!--Register-->
<div class="container py-5" >
	<h1 style="padding-top: 300px">Register</h1>
	<form method="POST">
		{% csrf_token %}
    {% if register_form.errors %}
      <p>{{ register_form.error_messages }}</p>
    {% endif %}
		{{ register_form }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href={% url "login" %}>login</a> instead.</p>
</div>

{% endblock %}