{% extends 'base.html' %}
{% load static %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

<br><br>

{% block content %}
  <header class="bg-gradient-dark">
    <div class="page-header min-vh-25" style="background-image: url('{% static 'img/curved1.jpg' %}');">
      <span class="mask bg-gradient-info opacity-5"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1" />
          </g>
        </svg>
      </div>
    </div>
  </header>
<!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<section class="py-9">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="text-gradient text-primary mb-0 mt-2">{{ cook.first_name }} {{ cook.last_name }}</h3>
        <h6>Username: {{ cook.username }}</h6>
        <p>Year of experience: {{ cook.year_of_experience }}</p>
        <a href="javascript:;" class="text-primary icon-move-right">Update {{ cook.username }} page
          <i class="fas fa-arrow-right text-sm ms-1"></i>
        </a>
        <br>
        <a href="javascript:;" class="text-primary icon-move-right">Delete {{ cook.username }}'s page
          <i class="fas fa-arrow-right text-sm ms-1"></i>
        </a>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
        {% for dish in cook.dishes.all %}
          <div class="p-3 info-horizontal">
            <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
              <i class="fas fa-ship opacity-10"></i>
            </div>
            <div class="description ps-3">
              <h4 class="mb-0">{{ dish.name }}</h4>
              <p><strong>Category:</strong> {{ dish.category.name }} <strong> Price:</strong> {{ dish.price }}</p>

            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}