{% extends 'base.html' %}
{% load static %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="about-us" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}
  <header class="bg-gradient-dark">
    <div class="page-header min-vh-50" style="background-image: url('{% static 'img/main.jpeg' %}');">
      <span class="mask bg-gradient-light opacity-4"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Work with an amazing team</h1>
            <p class="lead mb-4 text-white opacity-8">We’re constantly trying to express ourselves and actualize our dreams</p>
            <form action="" method="GET" class="form">
              <div class="input-group mb-0">
                <label for="username"></label>
                <input type="text" placeholder="Search by username" class="form-control" name="username" id="username">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          </g>
        </svg>
      </div>
    </div>
  </header>
  <section class="pt-sm-0 pb-5 position-relative bg-gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-start mb-0 mt-0">
          <h3 class="text-white z-index-1 position-relative"></h3>
        </div>
      </div>
      <div class="row">
        {% for cook in cook_list %}
          <div class="col-lg-6 col-12" style="padding-top: 10px">
            <div class="card card-profile overflow-hidden">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                  {% if cook.photo %}
                    <div class="p-3 pe-md-0" style="height: 200px">
                      <img class="border-radius-md" src="{{ cook.photo.url }}" alt="cook_image" style="object-fit: cover;height: 180px; width: 200px">
                    </div>
                    {% else %}
                    <div class="p-3 pe-md-0" style="height: 200px">
                      <p>There are no photo</p>
                    </div>
                  {% endif %}
                </div>
                <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto" >
                  <div class="card-body">
                    <a href="{% url "kitchen:cook-detail" pk=cook.id %}">
                      <h5 class="mb-0">{{ cook.first_name }} {{ cook.last_name }}</h5>
                    </a>
                    <h6 class="text opacity-5">Year of experience: {{ cook.year_of_experience }}</h6>
                    <p><br></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}