{% extends 'base.html' %}
{% load static %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

<br><br>

{% block content %}
  <h1 style="text-align: center; padding-top: 100px">Dishes <a href="{% url "kitchen:dish-create" %}" class="btn bg-gradient-light ">Light</a></h1>




  {% for dish in dish_list %}
      <section class="py-sm-0 py-5 position-relative">
        <div class="container">
          <div class="row">
            <div class="col-12 mx-auto">
              <div class="row py-lg-3 py-3">
                {% if dish.picture %}
                  <div class="col-lg-3 col-md-5 position-relative my-auto">
                  <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" style="height: 300px;" src="{{ dish.picture.url }}" alt="dish picture">
                </div>

                {% endif %}
                <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <a href="{% url "kitchen:dish-detail" pk=dish.id %}">
                      <h4 class="mb-0 link-primary">{{ dish.name }}</h4>
                    </a>



                  </div>
                  <div class="row mb-4">
                    <div class="col-auto">
                      <span class="h6">Category:</span>
                      <span>{{ dish.category.name }}</span>
                    </div>
                    <div class="col-auto">
                      <span class="h6">Price: </span>
                      <span>{{ dish.price }} $</span>
                    </div>
                  </div>
                  <p class="text-lg mb-0">
                    {{ dish.description }}
                    <br>

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  {% endfor %}
{% endblock content %}
