{% extends 'base.html' %}
{% load static %}

{% block title %} My Restaurant Kitchen Service {% endblock title %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}
  <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
    <img src="{% static 'img/sing_in_page.jpeg' %}" alt="pattern-lines" class="position- opacity-7">
  </div>
  <div class="page-header"  style="padding-top: 150px">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-7 d-flex justify-content-center flex-column">
          <div class="card card-body d-flex justify-content-center shadow-lg p-5 blur align-items-center">
            <h3 class="text-center">Registration form</h3>
            <form role="form" id="contact-form" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <span class="text-danger"> {{ error }} </span>
                {% endfor %}
              {% endif %}
              <div class="card-body">
                <div class="row">
                  <div class="mb-4">
                    <label for="username">Username</label>
                    <div class="input-group mb-0">
                      <input class="form-control" aria-label="Username..." type="text" name="username">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>First Name</label>
                      <div class="input-group mb-4">
                        <input class="form-control" aria-label="First Name..." type="text" name="first_name">
                      </div>
                    </div>
                    <div class="col-md-6 ps-2">
                      <label>Last Name</label>
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="Last Name..." name="last_name">
                      </div>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="year_of_experience">Year of experience</label>
                    <div class="input-group mb-0">
                      <input class="form-control" aria-label="Year of experience..." type="number" name="year_of_experience">
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="password1">Password</label>
                    <div class="input-group mb-0">
                      <input class="form-control" aria-label="Password..." type="password" name="password1">
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="password2">Repeat Password</label>
                    <div class="input-group mb-0">
                      <input class="form-control" aria-label="Password..." type="password" name="password2">
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="photo">Photo</label>
                    <div class="input-group mb-0">
                      <input class="form-control" aria-label="Photo..." type="file" name="photo">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn bg-gradient-dark w-100">Register</button>
                  </div>
                  <p class="text-center">If you already have an account, <a href={% url "login" %}>login</a> instead.</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
